<h1>Detailed flight information</h1>
<br/>
<ul>
    <li>Plane type: <%= @flight.airplane_name %></li>
    <br/>
    <li>Carrier: ADD</li>
    <br/>
    <li>Origin: <%= @flight.origin %></li>
    <br/>
    <li>Destination: <%= @flight.destination %></li>
    <br/>
    <li>Time and date: <%= @flight.date %></li>
    <br/>
    <li>Passenger list: ADD</li>
    <br/>
</ul>