<h1>Index of airplanes</h1>
<div>
    <ul>
        <% @airplanes.each do |airplane| %>
        <li>
            <%= airplane.airline_company %>: <%= airplane.airplane_id %>
        </li>
        <% end %>
    </ul>
</div>